<a href="https://colab.research.google.com/github/Eric-Mendes/birthday-hot-100/blob/main/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Birthday Hot 100

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [ ]:
day, month, year = map(int, input().split())

24 7 1970

In [ ]:
response = requests.get(
    "https://www.billboard.com/charts/hot-100/{}-{:02}-{:02}".format(year, month, day))

soup = BeautifulSoup(response.text, 'html.parser')

In [ ]:
data = []
chart = soup.find_all(class_='chart-element__information')

In [ ]:
for song in chart:
    song_name = song.find(
        class_='chart-element__information__song text--truncate color--primary').text
    
    artist = song.find(
        class_='chart-element__information__artist text--truncate color--secondary').text
    
    delta = song.find(
        class_='chart-element__information__delta__text text--default').text
    
    last_week = song.find(
        class_='chart-element__information__delta__text text--last').text
    last_week = last_week.split(' ')[0]

    peak_rank = song.find(
        class_='chart-element__information__delta__text text--peak').text
    peak_rank = int(peak_rank.split(' ')[0])

    weeks_on_chart = song.find(
        class_='chart-element__information__delta__text text--week').text
    weeks_on_chart = int(weeks_on_chart.split(' ')[0])

    data.append([song_name, artist, delta, last_week,
                peak_rank, weeks_on_chart])

In [ ]:
df = pd.DataFrame(data=data, columns=[
                  'song', 'artist', 'delta', 'last_week', 'peak_rank', 'weeks_on_chart'])

In [ ]:
df

                                   song  ... weeks_on_chart
0        (They Long To Be) Close To You  ...              6
1            Mama Told Me (Not To Come)  ...             10
2                          Band Of Gold  ...             14
3   The Love You Save/I Found That Girl  ...              9
4                      Make It With You  ...              7
..                                  ...  ...            ...
95                         Yellow River  ...              2
96                              Candida  ...              1
97                  Morning Much Better  ...              1
98                         It's A Shame  ...              1
99                      Big Yellow Taxi  ...              1

[100 rows x 6 columns]

In [ ]:
df.to_csv('./{}-{:02}-{:02}_billboard_hot_100.csv'.format(year, month, day))